<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-light">
          <h4>Github Profie Search</h4>
        </div>

        <div class="card-body">
          <form
            #form="ngForm"
            action="" id="githubForm" name="githubForm" #githubForm="ngForm"
            class=""
            (ngSubmit)="submitInput(searchInput.name, githubForm)"
          >
            <div class="form-group">
              <input
                #user="ngModel"
                [(ngModel)]="searchInput.name"
                name="user"
                type="search"
                class="form-control"
                placeholder="Github Usename" required
              />
            </div>
            <div>
              <button
                class="btn btn-secondary btn-sm mt-2"
                type="submit"
                value="submit" [disabled]="!githubForm.valid"
              >
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="isEmpty" class="container-fluid">
  <div class="card mt-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <img
            class="img-fluid p-3 img-circle"
            src="{{ profile.avatar }}"
            alt=""
          />
        </div>
        <div class="col-8 card-body">
          <ul class="list-group">
            <li class="list-group-item">Name: {{ profile.userName }}</li>
            <li class="list-group-item" *ngIf="profile.bio">
              Bio: {{ profile.bio }}
            </li>
            <li class="list-group-item">Followers: {{ profile.followers }}</li>
            <li class="list-group-item">Following: {{ profile.following }}</li>
            <li class="list-group-item">
              Created: {{ profile.date | git }} days ago.
            </li>
          </ul>
          <div class="text center mt-3">
            <a
              appCustomDirective
              class="btn btn-primary"
              target="_blank"
              href="{{ profile.home }}"
              >View Profile on Github</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-repos [repos]="repos"></app-repos>
</div>
