<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-danger text-light">
          <h4>Github Profie Search ##</h4>
        </div>

        <div class="card-body">
          <form action="" class="form-inline">
            <div>
              <input type="search" class="form-control" placeholder="Github Usename">
            </div>
            <div>
              <button class="btn btn-secondary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
